build/
*.iml  
.idea 
local.properties
.gradle
wemusic/release/wemusic.aab
flutterConfig.gradle
tiaConfig.gradle

./.DS_Store
*/.DS_Store
**/.DS_Store
*.apk
Tools/wording
**/.externalNativeBuild

qapm.properties
.codecc
build.yml