build/
*.iml  
.idea 
local.properties
.gradle
AHardwareBuffer/AHardwareBuffer-IPC-Client/app/.cxx
AHardwareBuffer/AHardwareBuffer-IPC-Server/app/.cxx
AHardwareBuffer/AHardwareBuffer-IPC-Client/.idea/*
AHardwareBuffer/AHardwareBuffer-IPC-Server/.idea/*
./.DS_Store
*/.DS_Store
**/.DS_Store
*.apk
Tools/wording
**/.externalNativeBuild

qapm.properties
.codecc
build.yml
